* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-color: var(--globalBackgroundColor);
    background-image: var(--globalBackgroundImage-2);
    background-size: 100%;
}

.navbar {
    height: 4.5vh;
    width: 100vw;
    background-color: var(--globalBackgroundColor);
    backdrop-filter: blur( var(--globalBackgroundBlur) );

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
}

.navbar .left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .left .item {
    color: var(--navbarIconColor);
    background-color: var(--navbarIconBackgroundColor);

    margin: 0vh 0vw 0vh 0.5vw;
    width: fit-content;
    height: 30px;
    padding: 0 1vw;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .left .item:hover {
    background-color: var(--globalHoverColor);
}
.navbar .left .item:active {
    background-color: var(--globalClickColor);
}
.navbar .left .active {
    background-color: var(--globalActiveColor);
}

.navbar .center {
    color: var(--navbarIconColor);
    font-size: x-large;

    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.navbar .right .item {
    color: var(--navbarIconColor);
    background-color: var(--navbarIconBackgroundColor);

    margin: 0vh 0.5vw 0vh 0vw;
    width: fit-content;
    height: 30px;
    padding: 0 1vw;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .right .item:hover {
    background-color: var(--globalHoverColor);
}
.navbar .right .item:active {
    background-color: var(--globalClickColor);
}

.menu {
    background-color: var(--globalBackgroundColor);
    backdrop-filter: blur( var(--globalBackgroundBlur) );
    color: var(--menuTextColor);

    padding: 5px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;

    display: none;
    position: fixed;
    top: 5vh;
    left: 10px;
}

.menu .item {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}
.menu .item:hover {
    background-color: var(--globalHoverColor);
}
.menu .item:active {
    background-color: var(--globalClickColor);
}

.menu .item .shortcut {
    display: flex;
    justify-content: end;
}

.quickSetting {
    width: 250px;
    height: 200px;
    padding: 10px;
    border-radius: 10px;;

    position: fixed;
    top: 5vh;
    right: 10px;

    background-color: var(--globalBackgroundColor);
    backdrop-filter: blur( var(--globalBackgroundBlur) );
    color: var(--quickSettingsColor);

    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.quickSetting .item {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;

    background-color: var(--navbarIconBackgroundColor);
}

.quickSetting .clock {
    grid-row: span 2;
    grid-column: span 2;

    font-size: xx-large;

    display: grid;
    grid-template-rows: 1fr 1fr;
}
.quickSetting .clock .time {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quickSetting .clock .am-pm {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quickSetting .account {
    grid-column: span 1;

    align-items: center;
    justify-content: center;
}
.quickSetting .windowMode {
    grid-column: span 2;

    align-items: center;
    justify-content: center;
}
.quickSetting .settingShortcut {
    grid-column: span 1;

    align-items: center;
    justify-content: center;
}
.quickSetting   .accentColor {
    grid-column: span 4;

    justify-content: space-around;
    align-items: center;
}
.quickSetting .accentColor .color:hover {
    transform: scale(1.2);
}
.quickSetting .accentColor .color:active {
    transform: scale(1.1);
}

.quickSetting .accentColor .purple { color: #A484FF; }
.quickSetting .accentColor .blue { color: #7E8BFF; }
.quickSetting .accentColor .cyan { color: #66BDD8; }
.quickSetting .accentColor .green { color: #85FFB6; }
.quickSetting .accentColor .yellow { color: #C3E086; }
.quickSetting .accentColor .orange { color: #FFCA8B; }
.quickSetting .accentColor .red { color: #FFA0A0; }

.quickSetting  .interactive:hover {
    background-color: var(--globalHoverColor);
}
.quickSetting  .interactive:active {
    background-color: var(--globalActiveColor);
}

.setting {
    height: 80vh;
    width: 60vw;
    backdrop-filter: blur( var(--globalBackgroundBlur) );

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.setting .group {
    background-color: #42424288;
    border-radius: 10px 0 0 10px;
    color: var(--settingGroupTitleColor);
    padding: var(--settingGroupPadding);
}

.setting .content {
    background-color: #29292bdc;
    border-radius: 0 10px 10px 0;
    color: var(--settingContentTitleColor);
    padding: var(--settingContentPadding);
}