:root {

    /* Background Variants */
    --globalBackgroundImage-0: '';
    --globalBackgroundImage-1: url('../Assets/BackgroundImages/Abstract_1.jpg');
    --globalBackgroundImage-2: url('../Assets/BackgroundImages/Abstract_2.jpg');
    --globalBackgroundImage-3: url('../Assets/BackgroundImages/Abstract_3.jpg');

    /* Global Variables */
    --globalBackgroundColor: #1d1d1f99;
    --globalBackgroundBlur: 15px;
    --globalAccentColor: ;
    --globalHoverColor: #A484FF66;      /* Ends in 66 */
    --globalClickColor: #A484FF99;      /* Ends in 99 */
    --globalActiveColor: #A484FFbb;     /* Ends in bb */


    /* Navbar */
    --navbarHeight: 4.5vh;
    --navbarWidth: 100vw;
    --navbarSeperatorWidth: 1fr 1fr 1fr;

        /* Navbar Icons */
        --navbarIconColor: #ccc;
        --navbarIconBackgroundColor: rgba(128, 128, 128, 0.089);
        --navbarIconWidth: fit-content;
        --navbarIconHeight: 29px;
        --navbarIconBorderRadius: 5px;
        --navbarIconPadding: 0 1vw;

        /* Navbar Left Icons */
        --navbarLeftIconMargin: 0vh 0vw 0vh 0.5vw;

        /* Navbar Right Icons */
        --navbarRightIconMargin: 0vh 0.5vw 0vh 0vw;
    
    /* Menu Popout */
    --menuPopoutWidth: fit-content;
    --menuPopoutHeight: fit-content;
    --menuBackgroundColor: #1d1d1f99;
    --menuBackgroundBlur: 10px;
    --menuTextColor: #ccc;
    --menuBorderRadius: 10px;

        /* Menu Popout Items */
        --menuPopoutItemPadding: 10px;
        --menuPopoutItemMargin: 5px;
    
    /* Quick Settings Popout */
    --quickSettingsColor: #ccc;
    --quickSettingsItemBackgroundColor: rgba(128, 128, 128, 0.089);

}