:root {

    /* Background Variants */
    --globalBackgroundImage-0: '';
    --globalBackgroundImage-1: url('../Assets/BackgroundImages/Abstract_1.jpg');
    --globalBackgroundImage-2: url('../Assets/BackgroundImages/Abstract_2.jpg');

    /* Global Variables */
    --globalBackgroundColor: black;
    --globalAccentColor: ;
    --globalHoverColor: #cca3a366;      /* Ends in 66 */
    --globalClickColor: #FFC9C999;      /* Ends in 99 */
    --globalActiveColor: #FFA0A0bb;     /* Ends in bb */


    /* Navbar */
    --navbarHeight: 4.5vh;
    --navbarWidth: 100vw;
    --navbarBackgroundColor: #1d1d1fcc;
    --navbarBackgroundBlur: 10px;

        /* Navbar Logo */
        --navbarIconColor: #ccc;
        --navbarIconBackgroundColor: rgba(128, 128, 128, 0.137);
        --navbarIconMargin: 0vh 0vw 0vh 0.5vw;
        --navbarIconPadding: 0 1vw;
        --navbarIconWidth: fit-content;
        --navbarIconHeight: 29px;
        --navbarIconBorderRadius: 5px;
}