:root {

    /* Background Variants */
    --globalBackgroundImage-0: '';
    --globalBackgroundImage-1: url('../Assets/BackgroundImages/Abstract_1.jpg');
    --globalBackgroundImage-2: url('../Assets/BackgroundImages/Abstract_2.jpg');
    --globalBackgroundImage-3: url('../Assets/BackgroundImages/Abstract_3.jpg');

    /* Global Variables */
    --globalBackgroundColor: #1d1d1f99;
    --globalBackgroundBlur: 15px;
    --globalAccentColor: ;
    --globalHoverColor: #A484FF66;      /* Ends in 66 */
    --globalClickColor: #A484FF99;      /* Ends in 99 */
    --globalActiveColor: #A484FFbb;     /* Ends in bb */


    /* Navbar */
    --navbarIconColor: #ccc;
    --navbarIconBackgroundColor: rgba(128, 128, 128, 0.089);
    
    /* Menu Popout */
    --menuBackgroundColor: #1d1d1f99;
    --menuBackgroundBlur: 10px;
    --menuTextColor: #ccc;
    
    /* Quick Settings Popout */
    --quickSettingsColor: #ccc;
    --quickSettingsItemBackgroundColor: rgba(128, 128, 128, 0.089);

    /* Setting Group */
    --settingGroupTitleColor: #ccc;
    --settingGroupPadding: 20px;

    /* Setting Content */
    --settingContentTitleColor: #eee;
    --settingContentPadding: 20px;

}